<div *ngIf="modo === 'edicion'" class="formulario">
  <form [formGroup]="invitacionForm" class="form-box">
    <h2>Crear Invitación</h2>

    <div class="form-group">
      <input
        type="text"
        formControlName="nombre"
        placeholder="Nombre del agasajado"
        [class.invalido]="esCampoInvalido('nombre')"
        pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+"
        title="Solo letras"
      />
      <div class="error" *ngIf="esCampoInvalido('nombre')">
        El nombre es obligatorio
      </div>
    </div>

    <div class="form-group">
      <input type="file" (change)="onFileSelected($event)" />
    </div>

    <div class="form-group">
      <input
        type="text"
        formControlName="salon"
        placeholder="Nombre del salón"
        [class.invalido]="esCampoInvalido('salon')"
      />
      <div class="error" *ngIf="esCampoInvalido('salon')">
        El nombre del salón es obligatorio
      </div>
    </div>

    <div class="form-group">
      <input
        type="date"
        formControlName="dia"
        [class.invalido]="esCampoInvalido('dia')"
      />
      <div class="error" *ngIf="esCampoInvalido('dia')">
        Elegir un día es obligatorio
      </div>
    </div>

    <div class="form-group">
      <label>Desde:</label>
      <input
        type="time"
        formControlName="hora"
        [class.invalido]="esCampoInvalido('hora')"
      />
      <div class="error" *ngIf="esCampoInvalido('hora')">
        El horario es obligatorio
      </div>
    </div>

    <div class="form-group">
      <label>Hasta:</label>
      <input
        type="time"
        formControlName="horaHasta"
        [class.invalido]="esCampoInvalido('horaHasta')"
      />
      <div class="error" *ngIf="esCampoInvalido('horaHasta')">
        Indicar a qué hora termina es obligatorio
      </div>
    </div>

    <div class="form-group">
      <input
        type="text"
        formControlName="direccion"
        placeholder="Dirección"
        [class.invalido]="esCampoInvalido('direccion')"
      />
      <div class="error" *ngIf="esCampoInvalido('direccion')">
        Indicar la dirección es obligatorio
      </div>
    </div>

    <div class="form-group">
      <input
        type="text"
        formControlName="telefono"
        placeholder="Teléfono de confirmación"
        [class.invalido]="esCampoInvalido('telefono')"
        pattern="[0-9]+"
        title="Solo números"
      />
      <div class="error" *ngIf="esCampoInvalido('telefono')">
        Indicar un número de teléfono es obligatorio – solo números
      </div>
    </div>

    <div class="form-group">
      <label for="temaColor">Elegí un tema:</label>
      <select formControlName="temaColor" id="temaColor">
        <option value="rosa">Rosa</option>
        <option value="celeste">Celeste</option>
        <option value="beige">Beige</option>
        <option value="dibujitos">Dibujitos animados</option>
        <option value="oscuro">Negro</option>
      </select>
    </div>

    <!-- Mostrar select de fondo según el tema -->
    <ng-container [ngSwitch]="invitacionForm.get('temaColor')?.value">

      <ng-container *ngSwitchCase="'rosa'">
  <div class="form-group">
    <label>Elegí un fondo rosa:</label>
    <div class="fondos-opciones">
      <div class="fondo-opcion" (click)="seleccionarFondoRosa('fondo.png')">
        <img
          src="assets/fondos/fondo.png"
          alt="Fondo 1"
          [class.seleccionado]="invitacionForm.get('fondoRosa')?.value === 'fondo.png'"
        />
        <p>Fondo 1</p>
      </div>
      <div class="fondo-opcion" (click)="seleccionarFondoRosa('fondo1.jpg')">
        <img
          src="assets/fondos/fondo1.jpg"
          alt="Fondo 2"
          [class.seleccionado]="invitacionForm.get('fondoRosa')?.value === 'fondo1.jpg'"
        />
        <p>Fondo 2</p>
      </div>
      <div class="fondo-opcion" (click)="seleccionarFondoRosa('fondo2.jpg')">
        <img
          src="assets/fondos/fondo2.jpg"
          alt="Fondo 3"
          [class.seleccionado]="invitacionForm.get('fondoRosa')?.value === 'fondo2.jpg'"
        />
        <p>Fondo 3</p>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngSwitchCase="'celeste'">
  <div class="form-group">
    <label>Elegí un fondo celeste:</label>
    <div class="fondos-opciones">
      <div class="fondo-opcion" (click)="invitacionForm.get('fondoCeleste')?.setValue('fondoceleste.jpg')">
        <img
          src="assets/fondos/fondoceleste.jpg"
          alt="Fondo 1"
          [class.seleccionado]="invitacionForm.get('fondoCeleste')?.value === 'fondoceleste.jpg'"
        />
        <p>Fondo 1</p>
      </div>
      <div class="fondo-opcion" (click)="invitacionForm.get('fondoCeleste')?.setValue('fondoceleste1.jpg')">
        <img
          src="assets/fondos/fondoceleste1.jpg"
          alt="Fondo 2"
          [class.seleccionado]="invitacionForm.get('fondoCeleste')?.value === 'fondoceleste1.jpg'"
        />
        <p>Fondo 2</p>
      </div>
      <div class="fondo-opcion" (click)="invitacionForm.get('fondoCeleste')?.setValue('fondoceleste2.jpg')">
        <img
          src="assets/fondos/fondoceleste2.jpg"
          alt="Fondo 3"
          [class.seleccionado]="invitacionForm.get('fondoCeleste')?.value === 'fondoceleste2.jpg'"
        />
        <p>Fondo 3</p>
      </div>
    </div>
  </div>
</ng-container>


    <ng-container *ngSwitchCase="'beige'">
  <div class="form-group">
    <label>Elegí un fondo beige:</label>
    <div class="fondos-opciones">
      <div class="fondo-opcion" (click)="invitacionForm.get('fondoBeige')?.setValue('fondobeige.jpg')">
        <img
          src="assets/fondos/fondobeige.jpg"
          alt="Fondo 1"
          [class.seleccionado]="invitacionForm.get('fondoBeige')?.value === 'fondobeige.jpg'"
        />
        <p>Fondo 1</p>
      </div>
      <div class="fondo-opcion" (click)="invitacionForm.get('fondoBeige')?.setValue('fondobeige1.jpg')">
        <img
          src="assets/fondos/fondobeige1.jpg"
          alt="Fondo 2"
          [class.seleccionado]="invitacionForm.get('fondoBeige')?.value === 'fondobeige1.jpg'"
        />
        <p>Fondo 2</p>
      </div>
      <div class="fondo-opcion" (click)="invitacionForm.get('fondoBeige')?.setValue('fondobeige2.jpg')">
        <img
          src="assets/fondos/fondobeige2.jpg"
          alt="Fondo 3"
          [class.seleccionado]="invitacionForm.get('fondoBeige')?.value === 'fondobeige2.jpg'"
        />
        <p>Fondo 3</p>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngSwitchCase="'dibujitos'">
  <div class="form-group">
    <label>Elegí un fondo:</label>
    <div class="fondos-opciones">
      <div class="fondo-opcion" (click)="invitacionForm.get('fondoDibujitos')?.setValue('dinosaurio.png')">
        <img
          src="assets/fondos/dinosaurio.png"
          alt="Dinosaurio"
          [class.seleccionado]="invitacionForm.get('fondoDibujitos')?.value === 'dinosaurio.png'"
        />
        <p>Dinosaurio</p>
      </div>
      <div class="fondo-opcion" (click)="invitacionForm.get('fondoDibujitos')?.setValue('toystory.jpg')">
        <img
          src="assets/fondos/toystory.jpg"
          alt="Toy Story"
          [class.seleccionado]="invitacionForm.get('fondoDibujitos')?.value === 'toystory.jpg'"
        />
        <p>Toy Story</p>
      </div>
      <div class="fondo-opcion" (click)="invitacionForm.get('fondoDibujitos')?.setValue('pawpatrol.png')">
        <img
          src="assets/fondos/pawpatrol.png"
          alt="Paw Patrol"
          [class.seleccionado]="invitacionForm.get('fondoDibujitos')?.value === 'pawpatrol.png'"
        />
        <p>Paw Patrol</p>
      </div>
      <div class="fondo-opcion" (click)="invitacionForm.get('fondoDibujitos')?.setValue('granjazenon.png')">
        <img
          src="assets/fondos/granjazenon.png"
          alt="Granja de Zenón"
          [class.seleccionado]="invitacionForm.get('fondoDibujitos')?.value === 'granjazenon.png'"
        />
        <p>Granja de Zenón</p>
      </div>
      <div class="fondo-opcion" (click)="invitacionForm.get('fondoDibujitos')?.setValue('marvel.jpg')">
        <img
          src="assets/fondos/marvel.jpg"
          alt="marvel"
          [class.seleccionado]="invitacionForm.get('fondoDibujitos')?.value === 'marvel.jpg'"
        />
        <p>Marvel</p>
         </div>
        <div class="fondo-opcion" (click)="invitacionForm.get('fondoDibujitos')?.setValue('princesas.jpg')">
        <img
          src="assets/fondos/princesas.jpg"
          alt="princesas"
          [class.seleccionado]="invitacionForm.get('fondoDibujitos')?.value === 'princesas.jpg'"
        />
        <p>Princesas</p>
      </div>
     
    </div>
  </div>
</ng-container>



    </ng-container>

    <button (click)="irAPreview()">Previsualizar invitación</button>
  </form>
</div>

<!-- PREVISUALIZACIÓN -->
<div *ngIf="modo === 'preview'" class="invitacion-contenedor">

  <div
    class="invitacion"
    [ngClass]="temaSeleccionado"
    [ngStyle]="obtenerEstiloFondo()"
  >
    <h2 class="nombre">Hola, soy {{ invitacionForm.value.nombre }}</h2>

    <div class="imagen">
      <img *ngIf="imagenPreview" [src]="imagenPreview" alt="Imagen personalizada" />
    </div>

    <p class="texto">Te invito a celebrar en:</p>

    <div class="salon">{{ invitacionForm.value.salon }}</div>

    <div class="datos">
      <p>{{ invitacionForm.value.dia }}</p>
      <p>{{ invitacionForm.value.hora }} a {{ invitacionForm.value.horaHasta }}</p>
      <p>{{ invitacionForm.value.direccion }}</p>
    </div>

    <div class="confirmacion" style="font-weight: bold;">
      No te olvides de confirmar tu asistencia al: {{ invitacionForm.value.telefono }}
    </div>
  </div>

  <div class="acciones">
    <button (click)="volverAEditar()">✏ Volver a editar</button>
    <button (click)="guardarInvitacion()">💾 Guardar</button>
  </div>

</div>
