.invitacion-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invitacion {
  width: 400px;
  border: 4px solid black;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: white;
}
.invitacion.rosa {
  background-color: #f9d4d0; /* rosa coral claro */
  color: #5e2b2b;
  border-color: #e28a86;
}

.invitacion.rosa .salon,
.invitacion.rosa .confirmacion {
  border-color: #e28a86;
  color: #5e2b2b;
}

.invitacion.celeste {
  background-color: #d7eafc; /* celeste suave elegante */
  color: #2d3e50;
  border-color: #9bc3e7;
}

.invitacion.celeste .salon,
.invitacion.celeste .confirmacion {
  border-color: #9bc3e7;
  color: #2d3e50;
}


.invitacion.beige {
  background-color: #f5f3ea;
  border-color: #d6cbb2;
  color: #4d4d4d;
}
.invitacion.oscuro {
  background-color: #121212;
  color: #ffffff;
  border-color: #ffffff;
}

.invitacion.oscuro .salon,
.invitacion.oscuro .confirmacion {
  border-color: #ffffff;
  color: #ffffff;
}

.nombre {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.texto,
.datos,
.confirmacion {
  font-family: 'Poppins', sans-serif;

}

.imagen img {
  width: 230px;         /* asegurate de que ancho y alto sean iguales */
  height: 230px;
  object-fit: cover;
  border-radius: 50%;   /* 👈 esto la hace redonda */
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.salon {
  
  padding: 10px;
  display: inline-block;
  font-weight: bold;
  margin: 8px 0;
  margin-top: 0.5px;
  font-size: 36px;
  font-family: 'Dancing Script', cursive;

}

.datos p {
  margin: 3px 0;
}

.confirmacion {
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  margin-top: 15px;
  font-size: 16px;
}

.botones-finales {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.boton-accion {
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 0.9rem;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  transition: all 0.2s ease-in-out;
  min-width: 120px;
  text-align: center;
}

.boton-accion:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

.boton-accion i {
  margin-right: 6px;
}


@media screen and (max-width: 480px) {
  .invitacion {
    width: 90%;
    max-width: 90%;
    padding: 15px;
    box-sizing: border-box;
    margin: 0 10px;
  }

  .nombre {
    font-size: 32px;
  }

  .salon {
    font-size: 28px;
  }

  .confirmacion {
    font-size: 16px;
    padding: 8px;
  }

  .imagen img {
    width: 180px;
    height: 180px;
  }

  @media (max-width: 480px) {
  .botones-finales {
    flex-direction: column;
    align-items: center;
  }

  .boton-accion {
    width: 90%;
    font-size: 1rem;
  }
}


  p {
    font-size: 16px;
  }
}
