<div class="portada">
  <div class="izquierda">
    <img src="assets/portada/formulario.png" alt="Formulario" class="img-formulario" />
  </div>

  <div class="derecha">
    <img src="assets/portada/mujer.png" alt="Invitación 1" class="img-invitacion" />
    <img src="assets/portada/nino.png" alt="Invitación 2" class="img-invitacion" />
  </div>

  <div class="texto-portada">
    <h1>CREÁ TU INVITACIÓN<br />EN POCOS PASOS<br />ONLINE</h1>
    <button (click)="irAFormulario()">COMENZAR</button>
  </div>
</div>
